
<div class="dvContentCtnr">

  <span class="spTitle">Active tasks:</span>

  <div class="dvTableCtnr">
    <table>
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Actual Effort</th>
        <th>Estimated Effort</th>
        <th>Due Date</th>
      </tr>

      <tr ng-repeat="task in tasksList" ng-class="[{highPriority: task.is_high_priority}]" ng-click="rowClick($event)">
        <td class="colName"><a href="#description/{{task.id}}">{{task.name}}</a></td>
        <td>{{task.tags}}</td>
        <td>{{task.actual_effort | timeValue }}</td>
        <td>{{task.estimated_effort | number: 1}}</td>
        <td>{{task.due_date | date:'medium'}}</td>
      </tr>
    </table>
  </div>

  <div id="hintSection">
    <span>*Click on task "Name" to open the description of the task</span>
  </div>

</div>
